.f-container {
	justify-content: space-between;
	gap: 2rem;
}

.f-left {
	gap: 0.8rem;
}

.f-menu {
	gap: 1.3rem;
	margin-top: 1.5rem;
	font-weight: 500;
}

@media (max-width: 768px) {
	.f-container {
		justify-content: center;
	}
	.f-container > div {
		align-items: center !important;
		text-align: center;
	}
}
